
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ first_name }} - Secret</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  	<!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- style -->
  </head>
  <body>
    <div class="container">

      <!-- header -->
      <div class="page-header">
        <div class='btn-toolbar pull-right'>
          <div class='btn-group'>
            <a href="/logout" class='btn btn-primary pull-right'>Log Out</a>
          </div>
        </div>
        <h1>Welcome {{ first_name }}</h1>
        <br>
      </div>
      <br>
      <!-- mesasge form -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 well">
          <h3 class='post-head'>Post a secret message:</h3>
          <form action="user/comments" method="post">
            {% csrf_token %}
            <div class='form-group'>
              <textarea class='form-control' name="comment" placeholder="What's on your mind?"></textarea>
            </div>
            <div class='form-group'>
              <input class='btn btn-success pull-right' type="submit" value="Post">
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 well">
          <h3>Most recent Secrets</h3>
          <a href="/popular">Most popular secrets</a>
          {% for comment in comments %}
            <div class="row">
              <div class="col-xs-11 col-xs-offset-1 well well-sm">
                <p><b>{{comment.comment}} - {{ comment.num_likes }} Like(s)</b></a> - {{ comment.created_at }}</p>
                {% if comment.id in arr%}
                  <a href="/unlike/{{comment.id}}" class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                    <a href="/like/{{comment.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    {% if comment.user.id == request.session.user_id %}
                      <a href="/delete/{{ comment_id }}" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
